/* css/app.css */
@import "../node_modules/normalize.css/normalize.css";
body,
div,
span {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column; /*纵向*/
    align-items: stretch;
    flex-shrink: 0;
    align-content: flex-start;
    border: 0 solid black;
    margin: 0;
    padding: 0;
}
body,
html {
    width: 100%;
    height: 100%;
}
body {
    background-color: #1F1E34;
    color: #FFF;
    font-family: "Avenir Next", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 100;
}
h1 {
    font-size: 64px;
    font-weight: 100;
}
h2 {
    font-size: 48px;
    font-weight: 100;
}
p { font-size: 24px; }
a {
    font-weight: 400;
    color: #FFF;
}
a:hover {
    font-weight: 400;
    color: #DADADA;
    text-decoration: none;
}
.section {
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.bigTile { text-align: center; }
.flexRow { flex-direction: row; }
.nav a { padding: 20px; }
.iphone-demo {
    flex-grow: 1;
    align-self: stretch;
    flex-basis: 0;
    justify-content: center;
}
.iphoneBox {
    width: 300px;
    height: 630px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.iphoneBox img { margin: 89px auto auto 24px; }
.feature-description {
    flex-grow: 1;
    align-self: stretch;
    flex-basis: 0;
    justify-content: center;
}
.native {
    background-image: url(../img/background.jpg);
    background-position: center;
    background-size: cover;
}

.overlay {
    position: relative;
    z-index: 2;
    width: 100%;
    height:100%;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(31,30,52,1));
    background-color:red;
    background-position: center;
    background-size: cover;
}
.android-robot {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%) rotate(-45deg);
}
.slider-control {
    position: fixed;
    right: 0;
    top: 50%;
    padding: 3px;
    z-index: 9999;
    transform: translate(-50%, -50%);
}
.slider-control a { padding: 3px; }
.slider-control .dot {
    width: 16px;
    height: 16px;
    border: 1px solid #fff;
    border-radius: 8px;
}
.slider-control .active .dot { background-color: #fff; }
